#strategy-view {
    display: grid;
    grid-template-areas:

    "strat insight    logs"
    "strat insight    logs"
    "chart chart      logs"
    "date  date      nothing     ";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 3fr 10px;
    gap: 20px;
}

#date{
    grid-area: date;
    border-radius: 8px !important;
}

#logs{
    grid-area: logs;

}

#chart{
    padding:10px;
    grid-area: chart;
}
#strategy-maker{
    grid-area: strat;
    height: 200px;
}
#insight{
    grid-area: insight;
    height: 200px;
}

.grid-item{
    background-color: rgba(26,27,29,0.9);
    border-radius: 8px;
    padding: 10px;
}