#strategy-view {
    display: grid;
    grid-template-areas:

    "strat insight date   logs"
    "strat insight date   logs"
    "chart chart   chart  logs";
    grid-template-columns: 2fr 4fr 30px 4fr;
    grid-template-rows: 2fr 10px  2fr;
    gap: 20px;
}

#date{
    grid-area: date;
    border-radius: 6px !important;
}

#logs{
    grid-area: logs;

}

#chart{
    padding:10px;
    grid-area: chart;
}
#strategy-maker{
    grid-area: strat;
    height: 200px;
}
#insight{
    grid-area: insight;
}

.grid-item{
    background-color: rgba(26,27,29,0.9);
    border-radius: 11px;
    padding: 10px;
}