select, input{
    height: 40px;
    background-color: #2e2d2d;
    padding: 10px;
    color :#f2e3ca;
  
    font-family: 'Montserrat';

    border-radius: 20px;
  

}
select {
    padding-right: 20px;
}
input{
    border-style: none;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgb(121, 121, 121);
}
.align-parameter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 180px;
    height: 150px;

}
.form-info{
    padding: 10px;
    display: flex;
    justify-content: space-between;
   
}

.settings{
    padding: 5px;
    border-radius :5px; 
    width: 210px;
    border: 1px solid beige;
    background-color:#c28c52;

}

.buttons{
    display: flex;
    justify-content: center;
 
}
.cancel{
    margin-right: 0.2rem;
    background-color: rgb(126, 59, 58);
}
.cancel:hover{
    background-color: rgb(232, 25, 2,0.7);
}
.add{
    width: 150px;
    padding: 10px;
    font-family: 'Montserrat';
    color: #f2e3ca;
    border: inherit;
    border-radius: 10px;
    background-color: rgb(50, 133, 90);
}
.add:hover{
    background-color: rgb(74, 145, 134);
}

.button{
    margin-top:1rem;
    border: 1px solid #181818;
    border-radius: 6px;
    padding: 0.2rem;
}
/**Submit**/