
.list{
    padding: 1rem;
    overflow: scroll;
}

/**ITEM **/

.item-strat{
  padding-bottom: 10px;
    
}
.item-strat-card{
    width: 90%;
    padding: 10px;
    height: 100px;
    border-bottom: 3px solid rgb(241, 156, 8);
    background-color: #181818dc;
    border-radius: 0px 0px 10px 10px;

}
.item-strat-toggle{
    height: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}
.item-strat-preview{
    height: 58px;
    display: flex;
    padding: 10px 20px;
    border-radius: 10px;
    flex-direction: row;
    align-items: center;
    
    border: 2px solid rgb(241, 156, 8);
    justify-content: space-between;
    
}
.item-strat-preview:hover{
    background-color: rgb(80, 80, 80);
}
.play{
    color:rgb(112, 255, 45)
}
.stop{
    color: rgb(250, 100, 100);
}
.item-strat-preview-left{
    display: flex;
    width: 200px;
    font-size: 17px;
    justify-content: space-evenly;

}
.item-strat-preview-right{
    width: 70px;
    display: flex;
    font-size: 20px;
    justify-content: space-evenly;
    
}