
.strategy{
    border: 2px solid #6d5385;; 
    border-radius: 5px;
    width: 500px;
    min-height: 350px;
    height: auto;
    color :#f2e3ca;
    
    
}
.header{
    display: flex;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #6d5385;;

}

.header > div {
    margin-right: 1rem;
    margin-left: 1rem;
}

.list{
    padding: 1rem;
}
.item-display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    border: 2px solid rgb(220, 213, 190);
    background-color: #6d5385;
    min-height: 80px;
}

.card{
    
    min-height: 120px;
    max-width: 450px;
    min-width: 450px;
    background-color: #2e2d2d;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom:4px solid #6d5385;
    align-self:center;
}
.anime{
    animation-duration: 5s ;
    animation-name: slide;
}

@keyframes slide {
    from{
        top:-100px;
    }
    to{
        top:0px
    }
    
}
.left{
    display: flex;
    justify-content: space-between;
}
.details{
    text-align: center;
}

/**Item */
.item{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;

    
}
.card> *{
    
    margin-top:0.3rem;
}

/**Submit**/

/**Form */