#navigation-item {

    display: grid;
    grid-template-columns: auto 1fr auto;
    text-align: center;
    font-size: 22px;
}


#links a:not(a:last-child){
    margin-right:40px ;
}
#links {

}

#login{
    line-height: 69px ;
}
#logo {
    font-size: 40px;
    line-height: 69px;

}

.separator{
    display: inline-block;
    border-bottom:  1px solid white;
    padding: 20px 20px 40px 20px ;

}

a {
    display: inline-block;
    color: #e6dcdc;
    text-decoration: none;

    font-size: 23px;
    text-align: center;

}

a:hover {
    color: #BC6FF1;

}