/* Navigation*/
.nav{
    background-color:#2e2d2d;
    height: 75px;
    box-shadow: -1px 2px 1px 1px #895099;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color :#f2e3ca;
}
.nav-item{
    margin-left: 0.5rem;
    padding: 5px;
}
.nav-item:hover{
    color :rgb(242, 227, 202,0.8);
}
  
  .selected{
    border: 1px solid #75598b;
    border-radius: 20px;
    background-color: #75598b;
    padding: 5px;
    
  }
  .selected:hover{
    background-color: #523668;
  
  }

  .title{
    font-size: 30px;

  }
/*Right side of the Nav*/
  .right{
    margin-right: 1rem;
  }
  /*Left side of the Nav*/
  .left{
    display: flex;
    margin-left:1rem;
  }
  /* left block of all headings */
  .heading{
      display: flex;
      align-items: center;
      margin-left: 2rem;
      
  }
  
  /* End Navigation*/