#slider-range{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#slider{


}
input[type=range]{
    -webkit-appearance: slider-vertical;
    width: 10px;
    height: 80%;
}